* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Martian Mono', monospace;
    font-family: 'Mooli', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.top {
    padding: 20px;
    background-color: skyblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.top-content {
    width: 80%;
    display: flex;
}

.top-title {
    flex: 3;
}

.top-cities-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 2;
    list-style-type: none;
}

.top-cities-links a {
    text-decoration: none;
    color: whitesmoke;
}

.main {
    width: 80%;
    margin: 0px auto;
}

.main-top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    border-radius: 5px;
}

.main-bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    border-radius: 5px;
}
.main-bottom button {
    background-color: hsl(214.38deg 86.41% 79.8%);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 4px 2px 2px black;
    cursor: pointer;
}